@tailwind base;
@tailwind components;
@tailwind utilities;



.main_container{
  display: grid;
  grid-template-columns: 300px auto;

}
/* left side bar section start */
.shop_icon{
  padding: 10px;
  font-size: 42px;
  color: rgb(45, 108, 243);
}


.left-sidebar-icon-text:hover .text_icon svg, .left-sidebar-icon-text:hover .text_icon_text
{
color:rgb(115, 0, 182);
}
/* left side bar section end */


/* header section start */
.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_logo{
  padding: 10px;
  font-size: 50px;
  color: rgb(124, 14, 213);

}
.icon_slider{
  padding: 10px;
  font-size: 35px;
  color: rgb(148, 67, 246);

}
.icon{  
  padding: 10px;
  font-size: 42px;
  color: #fff;
}

.setting_icon{
  padding: 10px;
  font-size: 42px;
  color: rgb(40, 122, 244);
}
.first_section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.last_section {
  display: flex;
  align-items: center;
}
.first_section .flex.justify-between {
  align-items: center;
  width: 451px;
}
/* header section end */




/* right sidebar start  */


.right_section{
  /* display: grid; */
  background-color: rgb(206, 232, 241);
  padding: 15px;
  /* grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: 10% 10% auto; */
}
/* right sidebar end  */



@media(max-width:768px){
 
}
@media (max-width:450px){
  
  
}



input {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 5px;
  margin-bottom: 0px;
  padding: 5px 10px;
}


.error {
  color: tomato;
  margin-bottom: 10px;
  height: 8px;
  font-size: 13px;
}


.login{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 191, 241);
  height: 100vh;
}